node_modules/
dist/

*.log
logs/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.idea/
.vscode/
.husky/_/

# AI oriented
MEMORY.md
CHANGELOG.md

*.tgz
